/* Optional: Add some styles to improve the carousel appearance */
/* .carousel {
    position: relative;
} */

.carousel {
    position: relative;
    overflow: hidden; /* Menghindari overflow */
}
.carousel-item {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
}
.carousel-item.active {
    opacity: 1;
}
@media (max-width: 640px) {
    /* Adjust the breakpoint as needed */

    iframe {
        height: 205px !important; /* Set height for small screens */
    }
}
